body {
  font-family: sans-serif;
}

img {
  height: 240px;
  width: 90%;
}

.btn:hover {
  background-color: black;
  color: white;
}

.banner {
  background-color: black;
  color: white;
  width: 100%;
  padding: 30px;
  padding-bottom: 50px;
  text-align: center;
}

#intro {
  text-align: center;
  padding-bottom: 30px;
  font-size: 22px;
}

.col-md-4 p {
  width: 90%;
  line-height:.95;
  margin-top: 0em;
  margin-bottom: 0em;
}

#bar_result {
  padding-top: 15px;
}

#pre_order {
  width: 90%;
}

#confirm_area {
  font-family: monospace;
  padding-left: 15%;
}

#result {
  display: none;
}

#order_form {
  margin-top: 30px;
  padding: 25px;
  border: 1px solid;
  border-radius: 15px;
}

.first {
  padding-top: 15px;
}

#thanks {
  margin-top: 60px;
}

#carousel-btn {
    padding: 15px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:50%;
}
